.header{
    background-image: url("../../../public/mainBack.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}
.header__container{
    width: 1200px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding-top:20px;
    margin-bottom: 110px;
}
.logo{
    height: 70px;
    width: 70px;
}
.header__logo{
    height: 100px;
    width: 60px;
}
.mainTitle{
    color: white!important;
    font-size: 64px!important;
    text-align: center;
}
.mainSubtitle{
    color: white!important;
    font-size: 30px!important;
    text-align: center;
}



.section__container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 110px;
    margin-top: -150px;
    background-color: white;
    border-radius: 20px;
    border: 7px solid rgba(4, 143, 143, 0.972);
    margin-bottom: 40px;
}
.container__position{
    margin-top: -150px;
    background-color: white;
    border-radius: 20px;
    border: 7px solid rgba(4, 143, 143, 0.972);
}
.section__title{
    font-size: 50px !important;
    color:rgba(4, 143, 143, 0.972)!important;
    text-align: center ;
    margin-bottom: 25px!important;

}
.section__subtitle{
    text-align: center!important;
    font-size: 36px!important;
    margin-bottom: 10px!important;
    color:#999999!important;
}
.section__item{
    width: 30%;
}
.btn__wrapper{
    display: flex;
    justify-content: center;
}
.joinBtn{
    height: 60px !important;
    background: rgba(4, 143, 143, 0.972) !important;
    border-color: rgba(4, 143, 143, 0.972) !important;
    color:white;
    font-size: 24px;
}
.learnMore{
    height: 50px!important;
    background: rgba(4, 143, 143, 0.972) !important;
    border-color: rgba(4, 143, 143, 0.972) !important;
    margin-top: 30px;
}
.learnMore:hover{
    transform: scale(1.1);
}
.joinBtn:hover{
    transform: scale(1.1);
}
.login{
    height: 46px!important;
    background: rgba(4, 143, 143, 0.972) !important;
    border-color: rgba(4, 143, 143, 0.972) !important;
    font-size: 20px;
}
.login:hover{
    transform: scale(1.1);
}






@media (max-width: 1199px) {
    .container {
        width: 700px;
    }
}
/*tablet*/
@media (max-width: 768px) {
    .container {
        width: 600px;
    }
    .section__container{
        width: 700px;
        margin: 0 auto;
        height: 50vh;
        padding-top: 80px;
        margin-bottom: 80px;
    }
    .mainTitle{
        font-size: 24px;
    }
    .mainSubtitle{
        font-size: 18px;
        margin-bottom: 80px;
    }
    .btn{
        padding: 0.2em 1em;
        border-radius: 0.2rem;
        background: #00aeae;
        color: white;
        font-size: 15px;
    }
    .logo{
        height: 50px;
        width: 50px;
    }
    .login{
        font-size: 15px;
    }

}
/*phone*/
@media (max-width:375px){
    .container{
        width: 200px;
    }
}



