.ant-spin-nested-loading > div > .ant-spin .ant-spin-dot {
    position: fixed;
}

@media (max-width: 575px) {
    .ant-form .ant-form-item .ant-form-item-label, .ant-form .ant-form-item .ant-form-item-control {
        flex: 0 0 auto !important;
    }
}

.ant-radio-group.ant-radio-group-outline.ant-picker-calendar-mode-switch {
    display: none !important;
}