.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    min-height: calc(100vh - 64px);
}
.headerTitle {
    margin-bottom: 0 !important;
}
.sider {
    display: block;
}
.dropdown {
    display: none;
    margin: 10px auto;
    width: 270px;
}
.content {
    padding: 24px;
    margin: 0;
}

@media (max-width: 768px) {
    .sider {
        display: none;
    }
    .dropdown {
        display: block;
    }
}

@media (max-width: 600px) {
    .headerTitle {
        font-size: 25px !important;
    }
}

@media (max-width: 350px) {
    .headerTitle {
        font-size: 20px !important;
    }
}

